* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
  color: #222;
  line-height: 1.6;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  border-bottom: 1px solid #eee;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}


